@model PartyInvites.Models.GuestResponse
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">
        <p>
            <label asp-for="Name">Your name</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your Email</label>
            <input asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Your Phone</label>
            <input asp-for="Phone" />
        </p>
        <p>
            <label>Will you attend</label>
            <select asp-for="WillAtend">
                <option value="">Choose an option</option>
                <option value="true">Yes, z will be there</option>
                <option value="false">No, I can not come</option>
            </select>
        </p>
        <button type="submit">Sublim RSVP</button>
    </form>
</body>
</html>